[Desktop Entry]
Version=1.0
Name=iwScanner
Comment=Wireless scanner based on iwtools
Exec=iwscanner
Terminal=false
Type=Application
Icon=/usr/share/iwscanner/iwscanner.png
Categories=System;
